@charset "utf-8";
/*
css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
*/

/*==================================================================================
default
==================================================================================*/

$body_fontfamily: "Noto Sans JP", "ヒラギノ角ゴシック", sans-serif, sans-serif;

$breakpoint_sp: 750px;
$breakpoint_tb: 1024px;
$breakpoint_pc: 1250px;

@import "default/default_sp.scss";


@import "parts/parts_sp.scss";

/*==================================================================================
top_style
==================================================================================*/

@import "pages/top_sp.scss";

/*==================================================================================
about_style
==================================================================================*/

@import "pages/about_sp.scss";

