@charset "utf-8";
/*
css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
*/

/*==================================================================================
default
==================================================================================*/

$body_fontfamily: "Noto Sans JP", "ヒラギノ角ゴシック", sans-serif;
$breakpoint_sp: 750px;
$breakpoint_tb: 1024px;
$breakpoint_pc: 1250px;
$title_color: skyblue;
@import "default/default.scss";

@import "parts/parts.scss";

/*==================================================================================
top_style
==================================================================================*/

@import "pages/top.scss";

/*==================================================================================
about_style
==================================================================================*/

@import "pages/_about.scss";
